@font-face {
    font-family: 'sf_distant_galaxy';
    src: url('sf_distant_galaxy_altoutline_italic-webfont.woff2') format('woff2'),
         url('sf_distant_galaxy_altoutline_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_distant_galaxy_alt';
    src: url('sf_distant_galaxy-webfont.woff2') format('woff2'),
         url('sf_distant_galaxy_webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#enemies {
	display:inherit;

}
body {
	background-image: url(../images/sw_background.jpg);
	background-size: cover;
}
.img-thumbnail {
	width: 170px;
	height: 150px;
}
#yoda {
	margin-left: 4px;
}
h1 {
	font-family: 'sf_distant_galaxy';
	color: yellow;
	text-align: center;
}
.characters {
	font-family: 'sf_distant_galaxy';
	color: yellow;
}
h2 {
	font-family: 'sf_distant_galaxy';
	color: yellow;
	text-align: center;
}
h3 {
	margin-top: 30px;
	font-family: 'sf_distant_galaxy';
	color: yellow;
	text-align: center;
}
#battle_score {
	margin-top: 30px;
	font-family: 'sf_distant_galaxy';
	color: yellow;
	font-size: 30px;
}
#battle_score2 {
	margin-top: 30px;
	font-family: 'sf_distant_galaxy';
	color: yellow;
	font-size: 30px;
	text-align: right;
}
#attack_button {
	margin:0 auto;
	display:block;
	background: white;
	color:black;
	font-family: 'sf_distant_galaxy_alt';
	margin-bottom: 30px;
}
